

.header__inner{
    padding:30px 0;
    margin: 0 auto;
    text-align: center;
    max-width: 1230px;
}

.content-confirm{
    max-width:1230px;
    text-align: center;
    margin: 0 auto;
}

.form{
    width:70%;
    margin:0 auto;
    text-align: center;
}

.confirm__group{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.confirm__group-content{
    width:70%;
    text-align: left;
}

.confirm__group-content--answer{
    outline: none;
    border: none;
}

.confirm__button{
    width:20%;
    margin:0 auto;
}

.confirm__button-submit{
    width:100%;
    padding:5px 0;
    color:white;
    background-color: black;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.confirm__correct{
    text-align: center;
}

.confirm__correct-link{
    color: black;
}